
body{
    margin-left: 328px;

}

.container{
    background-color:orange;
    color:white;
    /* align-self: center; */
    width:30%;
    height: auto;
    margin:  30px 30vh 40vh 20vh;
    border: 5px solid black;
    border-radius: 30px;
    align-items: center;
    justify-content: center;


}
header h2{
    background-color:rgba(255, 190, 13, 0.685);
    color: rgb(2, 2, 2);
    width: 70%;
    height:55px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding:20px 30px 20px 30px;
    text-align: center;
    border:2px solid black ;
    border-radius: 20px;
    text-transform: uppercase;
}
.container h3{
background-color:rgb(255, 108, 108);
width: 353px;
height: 67px;
    font-size:44px;
    color: rgba(73, 77, 139, 0.644);
    text-shadow:2px 3px 2px gray ;
    text-align: center;
    /* text-decoration:double; */
    font-weight: 10px bolder;
    font-style: italic;
    display:initial;
    margin-left: 30%;
    margin-bottom:55px ;
border-radius: 20px;

    }

